.index-image {
  width: 100%;
  height: auto;
}

.show-image {
  width: 80%;
  height: auto;
}

.signs {
 float: right;
}

.crop img {
    width: 50px;
    height: 50px;
}

.crop {
 text-align: right;
}

.name span {
 display: table-cell;
 vertical-align: middle;
}

.sign span {
 float: right;
}

.profile-photo {
  width: 45px;
  height: 45px;
}

.logo {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.bakery-description {
  padding-bottom: 40px;
}

#error_explanation {
  color: red;
}
