h1 {
  text-align:center;
  padding-top: -15px;
}

h4 {
  float: right;
}

.index-image {
  width: 20%;
  height: auto;
}

.show-image {
  width: 50%;
  height: auto;
}

.signs {
  float: right;
}

.crop img {
    width: 50px;
    height: 50px;
}

.crop {
 text-align: right;
}

.name span {
 display: table-cell;
 vertical-align: middle;
}

.sign span {
 float: right;
}

body {
 background-color: pink;
 color: white;
}
