.index-image {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.show-image {
  width: 80%;
  height: auto;
}

.signs {
 float: right;
}

.crop img {
    width: 50px;
    height: 50px;
}

.crop {
 text-align: right;
}

.name span {
 display: table-cell;
 vertical-align: middle;
}

.sign span {
 float: right;
}

.profile-photo {
  width: 45px;
  height: 45px;
}

.logo {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.bakery-description {
  padding-bottom: 40px;
}

#error_explanation {
  color: red;
}

.backbutton {
  margin: 30px 0 50px 0;
}

button.button.green {
  background-color: green;
}

button.button.red {
  background-color: red;
}

body {
  background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2Foriginals%2F12%2F05%2F43%2F120543b02f6ddb9d8745e84eb5e16315.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: white;
  opacity: 0.75;
  margin-bottom: 50px;
}

ul.menu {
  background-color: #333333;
}

.menu .menu-text {
  color: deeppink;
}

a {
  color: deeppink;
}

.callout {
  opacity: 0.95;
}

h5, p {
  font-family: 'Kite One', serif;
}

h3, h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}
